bin/
obj/
build/
!build/
!build/CMakeLists.txt
!build/build-debug.bat
!build/build-release.bat
build/cmake-out/
*.user
*.suo
*.cache
*.log
*.vs/
.vscode/
*.db
*.pdb
*.dll
*.exe
*.app
*.vsconfig
*.userosscache
*.ide

# Temporary files
*.tmp
*.temp
*.swp
*~

# CMake
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# VS Code
.vscode/
